@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');
 /* font-family: 'Zen Antique', serif; --> */
h1{
    font-weight: 700; 
    font-style: italic; 
    color:rgb(127, 57, 6);
    text-decoration: underline; 
    text-transform: uppercase;
}

body{
    font-size: large;
    background-image: url('pexels-photo-531321.webp');
    text-align: center;
}

h3, h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-stretch: expanded;
    color:rgb(87, 101, 64);
}

pre{
    color:rgb(223, 199, 199);
}

span{
    font-weight: bold;
    color: rgb(203, 32, 32);
}

/*2067399313 hibak*/